.need-branding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
  .need-branding {
    position: relative;
    padding: 0rem 1rem;
  }
}
