.q71-additional-func {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .many-products-add {
    ul.ks-cboxtags {
      list-style: none;
      // padding: 20px;
      margin-top: 1rem;
      columns: 2;
    }
    ul.ks-cboxtags li {
      display: block;
    }
  }
}

@media (max-width: 500px) {
  .q71-additional-func {
    position: relative;
    padding: 0rem 1rem;
  }
}
