* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url(./img/quoteBG.jpg);
  background-color: #000;
  color: #fff;
}

.videoBg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: none;
  width: 100%;
  z-index: 0;
}

.app {
  height: 100vh;
  display: flex;
  overflow: hidden;

  .app-main {
    position: relative;
    flex: 70%;
  }
  .app-calc {
    z-index: 1;
    flex: 30%;
    .goBack-btn-arrow {
      position: absolute;
      right: 5%;
      top: 10%;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.5);
      }
    }
    .goForward-btn-arrow {
      position: absolute;
      right: 5%;
      bottom: 10%;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.5);
      }
    }
    .app-calc-stats {
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .app {
    .app-main {
      flex: 100%;
    }
    .app-calc {
      flex: 0%;
    }
  }
}
