* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url(./img/quoteBG.jpg);
  background-color: #000;
  color: #fff;
}

.app {
  height: 100vh;
  display: flex;
  .app-main {
    position: relative;
    flex: 70%;
  }
  .app-calc {
    flex: 30%;
  }
}

@media (max-width: 500px) {
  .app {
    .app-main {
      flex: 100%;
    }
    .app-calc {
      flex: 0%;
    }
  }
}
