* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Visby-light';
  src: url(./Fonts/VisbyCF-Light.woff) format('woff');
}

@font-face {
  font-family: 'Visby CF';
  src: url(./Fonts/VisbyCF-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Visby-bold';
  src: url(./Fonts/VisbyCF-Bold.woff) format('woff');
}

p, h3 {
  font-family: 'Visby CF', sans-serif;
  font-size: 19px;
  font-weight: 200;
  line-height: 24px;
}

h2 {
  font-family: 'Visby CF', sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 52px;
  text-align: left !important;
}

button {
  font-family: 'Visby CF', sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 15px;
}




body {
  background-image: url(./img/quoteBG.jpg);
  background-color: #000;
  color: #fff;
}

.videoBg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: none;
  width: 100%;
  z-index: 0;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.app {
  height: 100vh;
  display: flex;
  overflow: hidden;

  .pill-logo {
    z-index: 999;
    position: absolute;
    top: 0%;
    left: 1%;
    width: 85px;
    height: auto;
  }

  .app-main {
    position: relative;
    flex: 70%;
  }
  .app-calc {
    z-index: 1;
    flex: 30%;
    .goBack-btn-arrow {
      position: absolute;
      right: 5%;
      top: 10%;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.5);
      }
    }
    .goForward-btn-arrow {
      position: absolute;
      right: 5%;
      bottom: 10%;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.5);
      }
    }
    .hideArrow {
      opacity: 0;
    }
    .app-calc-stats {
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width:1200px) {

  .app {
    flex-direction: column;
    height: 100vh;
    .videoBg {
      height: 100%;
      object-fit: cover;
      display: block;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
      transition: 1s opacity;
    }
    .app-main {
      flex: 100%;
      .page {
        width: 80%;
        h2 {
          line-height: 1.2;
        }
      }
      .contacts-and-details.page {
        margin-top: 5%;
        padding: 0 3rem;
        width: 90%;
        .contact-second-row {
          flex-wrap: wrap;
        }
      }
    }
    .app-calc {
      flex: 0%;
      .app-calc-stats {
        padding: 0 3rem;
        display: none;
        padding-bottom: 3rem;
        .quote {
          width: 100%;
          .quoteArr {
            padding: .5rem;
          }
        }
      }
    }
    #showCalcArea {
      display: block;
    }
  }
  .mobile-app {
    height: 150vh;
  }
}


@media (max-width: 950px) {

  .app {
    flex-direction: column;
    height: 100vh;
    .videoBg {
      height: 100%;
      object-fit: cover;
      display: block;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
      transition: 1s opacity;
    }
    .app-main {
      flex: 100%;
      .page {
        width: 80%;
        h2 {
          line-height: 1.2;
        }
      }
      .contacts-and-details.page {
        margin-top: 5%;
        padding: 0 3rem;
        width: 90%;
        .contact-second-row {
          flex-wrap: wrap;
        }
      }
    }
    .app-calc {
      flex: 0%;
      .app-calc-stats {
        padding: 0 3rem;
        display: none;
        padding-bottom: 3rem;
        .quote {
          width: 100%;
          .quoteArr {
            padding: .5rem;
          }
        }
      }
    }
    #showCalcArea {
      display: block;
    }
  }
  .mobile-app {
    height: 150vh;
  }
}


@media (max-width: 768px) {

  .app {
    flex-direction: column;
    height: 100vh;
    .videoBg {
      height: 100%;
      object-fit: cover;
      display: block;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
      transition: 1s opacity;
    }
    .app-main {
      flex: 100%;
      .page {
        width: 80%;
        h2 {
          line-height: 1.2;
        }
      }
      .contacts-and-details.page {
        margin-top: 16%;
        padding: 0 3rem;
        width: 90%;
        .contact-second-row {
          flex-wrap: wrap;
        }
      }
    }
    .app-calc {
      flex: 0%;
      .app-calc-stats {
        padding: 0 3rem;
        display: none;
        padding-bottom: 3rem;
        .quote {
          width: 100%;
          .quoteArr {
            padding: .5rem;
          }
        }
      }
    }
    #showCalcArea {
      display: block;
    }
  }
  .mobile-app {
    height: 183vh;
  }
}




@media (max-width: 500px) {
  
  .app {
    flex-direction: column;
    height: 100vh;
    .videoBg {
      height: 100%;
      object-fit: cover;
      display: block;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
      transition: 1s opacity;
    }
    .app-main {
      flex: 100%;
      .page {
        h2 {
          line-height: 1.2;
        }
      }
      .contacts-and-details.page {
        margin-top: 16%;
        padding: 0 3rem;
      }
    }
    .app-calc {
      flex: 0%;
      .app-calc-stats {
        padding: 0 3rem;
        display: none;
        padding-bottom: 3rem;
        margin-top: 3rem;
        height: auto;
        .quote {
          width: 100%;
          .quoteArr {
            padding: .5rem;
          }
        }
      }
    }
    #showCalcArea {
      display: block;
    }
  }
  .mobile-app {
    height: 174vh;
  }
}
